[run]
source = .
omit =
    tests/*
    seed.py
    alembic/*
    */__init__.py
    */migrations/*
    core/queue.py
    modules/auth/models.py

[report]
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    raise NotImplementedError
    \.\.\.

[html]
directory = htmlcov
